/* overriding bootstrap css */
.btn-primary
 {
    background-color: #ff8400 !important;
    border-color: #ff8400 !important;
    outline: none;
}
.btn-primary:hover{
    background-color: #dc7200 !important;
}
.btn-outline-primary{
    border-color: #ff8400 !important;
    color: #ff8400 !important;
}
.btn-outline-primary:hover{
    background-color: #ff8400 !important;
    color: white !important;
}


/* customcss goes here */
#herosec
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #ffffff 50%, #fbab7e 100%);

}
#herosec .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
#herosec .heroimg{
    flex: 1;


}
.heroimg img{
    transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

#herosec h2{
    font-weight: 400;
    font-size: 1em;
}
#herosec h1{
    font-size: 80px;
    font-weight: bolder;
    color: #ff8400;
}

/* media queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #herosec{
        margin-top: 30%;
        flex-direction: column;
    }
    #herosec .heroimg img{
        height: 200px;
        width: 200px;
    }
    #herosec h1{
        font-size: 50px;
    }

  }

