/* overriding bootstrap css */
.btn-primary
 {
    background-color: #ff8400 !important;
    border-color: #ff8400 !important;
    outline: none;
}
.btn-primary:hover{
    background-color: #dc7200 !important;
}
.btn-outline-primary{
    border-color: #ff8400 !important;
    color: #ff8400 !important;
}
.btn-outline-primary:hover{
    background-color: #ff8400 !important;
    color: white !important;
}


/* customcss goes here */
#herosec
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #ffffff 50%, #fbab7e 100%);

}
#herosec .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
#herosec .heroimg{
    flex: 1;


}
.heroimg img{
    transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

#herosec h2{
    font-weight: 400;
    font-size: 1em;
}
#herosec h1{
    font-size: 80px;
    font-weight: bolder;
    color: #ff8400;
}

/* media queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #herosec{
        margin-top: 30%;
        flex-direction: column;
    }
    #herosec .heroimg img{
        height: 200px;
        width: 200px;
    }
    #herosec h1{
        font-size: 50px;
    }

  }

  /* agrit */
  .bg-primary {
    background: #f39422 !important; }
  
  .ftco-section {
    padding: 7em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
  
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
  .form-control {
    height: 52px;
    background: transparent;
     color: #ff8400!important; 

    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(255, 255, 255, 0.2); }
    .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color:#ff8400 !important; }
    .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #ff8400 !important; }
    .form-control:-ms-input-placeholder {
      /* IE 0+ */
      color: #ff8400 !important; }
    .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #ff8400 !important; }
    .form-control:focus, .form-control:active {
      background: transparent;
      border-color: #ff8400 !important; }
  
  textarea.form-control {
    height: inherit !important; }
  
  .wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18); }
  
  .contact-wrap {
    /* background: #272a34;  */
    background-color: #F6F1E9;
  }
    .contact-wrap h3 {
      /* color: #fff; */
      color:#ff8400;
     }
  
  .info-wrap {
    /* background: #1c1e25; */
    background: #ff8400;
   }
    .info-wrap h3 {
      color: #F6F1E9;
      font-size: 18px;
      position: relative; }
    .info-wrap .dbox {
      width: 100%;
      margin-bottom: 25px; }
      .info-wrap .dbox:last-child {
        margin-bottom: 0; }
      .info-wrap .dbox p {
        margin-bottom: 0; 
        color:#F6F1E9;}
        .info-wrap .dbox p span {
          font-weight: 400;
          color: #fff; }
        .info-wrap .dbox p a {
          color:#F6F1E9;
         }
      .info-wrap .dbox .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.02); }
        .info-wrap .dbox .icon span {
          font-size: 20px;
          color: #fff; }
      .info-wrap .dbox .text {
        width: calc(100% - 50px); }
  
  .btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .btn:hover, .btn:active, .btn:focus {
      outline: none !important;
      -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
      -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
      box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important; }
    .btn.btn-primary {
      background: #f39422 !important;
      border-color: #f39422 !important;
      color: #fff; }
      .btn.btn-primary:hover, .btn.btn-primary:focus {
        border-color: #d67a0c !important;
        background: #d67a0c !important; }
  
  .contactForm .form-control {
    border: none;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
      border-bottom: 1px solid #ff8400;
      background-color: #F6F1E9;
    padding: 0; }
  
    .contactForm .form-control :active{
      background-color: #F6F1E9;

    }
  
  #contactForm .error {
    color: #f65c78;
    font-size: 12px; }
  
  #contactForm .form-control {
    font-size: 16px; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: red; }
  
  #form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: 500; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: white !important; }

    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-top: var(--bs-gutter-y);
    }






